In [2]:
import pandas as pd
import seaborn as sns

In [8]:
columns = ["id_code", "level"]
data_1 = pd.read_csv("../trainLabels.csv", header=None)
data_2 = pd.read_csv("../train.csv", header=None)
data_1.columns = columns
data_2.columns = columns
data_2 = data_2.drop(0)
display(data_2)

           id_code level
1     000c1434d8d7     2
2     001639a390f0     4
3     0024cdab0c1e     1
4     002c21358ce6     0
5     005b95c28852     0
...            ...   ...
3658  ffa47f6a7bf4     2
3659  ffc04fed30e6     0
3660  ffcf7b45f213     2
3661  ffd97f8cd5aa     0
3662  ffec9a18a3ce     2

[3662 rows x 2 columns]

In [9]:

data_1["id_code"] = data_1["id_code"].apply(lambda x: x + ".jpeg")
data_2["id_code"] = data_2["id_code"].apply(lambda x: x + ".png")


data = pd.concat([data_1, data_2])

data.columns = columns
data.to_csv("train.csv")
display(data.tail())

               id_code level
3658  ffa47f6a7bf4.png     2
3659  ffc04fed30e6.png     0
3660  ffcf7b45f213.png     2
3661  ffd97f8cd5aa.png     0
3662  ffec9a18a3ce.png     2